<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.CAMERA"/>
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-feature android:name="android.hardware.camera" android:required="true"/>
 <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="Phone Stereo Probe" android:allowBackup="false">
  <meta-data android:name="com.google.ar.core" android:value="optional"/>
  <activity android:name=".HomeActivity" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
  <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <activity android:name=".ArCoreProbeActivity" android:exported="false"/>
 </application>
</manifest>
